{% extends "base.html" %} 
{% block content %}
<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4 text-center">Challenges</h1>

  {% if current_challenge %}
  <h2 class="text-2xl font-bold mb-4">Weekly Challenge</h2>
  <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 mb-8">
    <h2 class="text-2xl font-semibold mb-2">{{ current_challenge.title }}</h2>
    <p class="text-lg mb-4">{{ current_challenge.description }}</p>
    <p class="text-sm text-gray-600 dark:text-gray-400">
      <strong>Challenge Period:</strong> {{ current_challenge.start_date }} to
      {{ current_challenge.end_date }}
    </p>
  </div>
  {% endif %} 
  {% if one_time_challenges %}
  <h2 class="text-2xl font-bold mb-4">One-time Challenges</h2>
  {% for challenge in one_time_challenges %}
  <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 mb-4">
    <h2 class="text-2xl font-semibold mb-2">{{ challenge.title }}</h2>
    <p class="text-lg mb-4">{{ challenge.description }}</p>
    <p class="text-sm text-gray-600 dark:text-gray-400">
      <strong>Challenge Period:</strong> {{ challenge.start_date }} to {{
      challenge.end_date }}
    </p>
  </div>
  {% endfor %} 
  {% endif %} 
  {% if not current_challenge and not one_time_challenges %}
  <p class="text-center text-gray-500 dark:text-gray-400">
    No challenges available at this time.
  </p>
  {% endif %}
</div>
{% endblock %}
